/* BODY */
body {
	margin-bottom: 20px;
}

/* NAV BAR */
/* Have each item change color when hovered over */
.navbar-brand, .navbar-nav .nav-link {
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.navbar-brand, .navbar-nav .nav-link:hover {
	color: #ccc;
	transition: all 0.1s ease-in-out;
	transform: scale(1.1);
}

/* TITLES */
h3 {
	/* make the tag fit the content */
	display: inline-block;
}
h3:hover {
	transition: all 0.1s ease-in-out;
	text-decoration: underline;
	/* transform: scale(1.05); */
}

/* HEADERS */
.cellHeader {
	height: 300px;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 30px;
	background-repeat: no-repeat, no-repeat;
	background-position: right, left;
	background-size: 100% auto;
	opacity: 0.9;
	transition: all 0.3s ease-in-out;
	/* make a fancy/modern border around the element */
	border-bottom: 5px solid #ccc;
}
.headerText {
	opacity: 1;
	background-color: rgba(59, 59, 59, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 30px;
	margin: 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

/* CELLS */
/* make the cell animate when scrolled into view */
@keyframes fadeIn {
	0% {
		/* change opacity */
		opacity: 0; 
		/* change size */
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.cell_animation {
	animation: fadeIn 0.5s ease-in-out;
}
.cell_hidden {
	opacity: 0;
}
/* on hover for cells make color animate in and increase size */
.cell:hover {
	background-color: #f1f1f1;
	transition: all 0.15s ease-in-out;
	transform: scale(1.03);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.cellImage {
	/* add grey border */
	border: 2px solid rgb(162, 162, 162);
}